<!DOCTYPE html>
<html>
    <head>
        <title>Site maluco</title>
         <link rel="stylesheet" href="style_index.css">
        
        
    </head>
    <body>
        
        
        <h1>Bem vindo ao site mais aleatório já criado</h1>
        
        <div class="container">
            <img class="container_kermit_img" src="https://i.imgflip.com/31weyu.png" alt="Kermit the frog" width="300">
        
            <div class="container_text">          
                <h2>Aqui você vai aprender sobre:</h2>
                <ul>
                    <li><a href="https:\\google.com">nada</a></li>
                    <li><a href="https:\\google.com">nada</a></li>
                    <li><a href="#">mais nada</a></li>
                </ul>
            </div>
        </div>

        <p>O propósito deste site é de desenvolver minhas habilidades de front-end. Não quero saber se você gosta ou não, a menos que me ajude a desenvolver este birosque maluco. Muito obrigado pela atenção. PAZ.</p>
        
        
        
        
        <table
               border="5"
               cellpadding="20"
               cellspacing="5">
            <tr>
                <td><button>botao</button></td>
                <td><button>botao2</button></td>
                <td><button>botao3</button></td>
                <td><button>botao4</button></td>
            </tr>
            <tr>
                <td><button>botao</button></td>
                <td><button>botao2</button></td>
                <td><button>botao3</button></td>
                <td><button>botao4</button></td>
            </tr>
            <tr>
                <td><button>botao</button></td>
                <td><button>botao2</button></td>
                <td><button>botao3</button></td>
                <td><button>botao4</button></td>
            </tr>
        </table>
        
        <br>
        <hr>
        <br>
        

        <iframe width="560" height="315" src="https://www.youtube.com/embed/2zs9q54Z0OA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <br>
        <hr>
        <br>
        
        <p>Contato</p>
        <form>
            OI:
            <input type="textr">
            <br><br>
            
            Email:
            <input type="textr">
            <br><br>
            
            <button>SUBMIT</button>
        
        </form>
        
    </body>
</html>