{% extends 'base.html' %}



{% block css %}			
		<title>Cadastro</title>
		
		{% load static %}
        <link href="{% static 'cadastrar_animal.css' %}"  rel="stylesheet">
{% endblock css %}		
		
{% block content %}
        <h1>Cadastro de animal desaparecido</h1>
        

        {% load static %}
		<img class="container_kermit_img" src="{% static 'images/viralata_1.jpg' %}" alt="Kermit the frog" width="300">
		<br><br><br>
        
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form }}
			
			<button type="submit">Cadastrar</button>
		</form>

{% endblock content %}