  <!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>New/Update product</h1>

	<form method="post">{% csrf_token %}
		{% for field in registration_form %}
			<p>
				{{field.label_tag}}
				{{field}}

				{% if field.help_text %}
					<small style="color: grey;">{{field.help_text}}</small>
				{% endif %}

				{% for error in field.errors %}
					<p style="color: red;">{{error}}</p>
				{% endfor %}
			</p>
		{% endfor %}
		<button type="submit">Register</button>
		
	</form>


    {% if product %}
        <a href="{% url 'delete_product' product.id %}">Delete</a>
    {% endif %}
</body>
</html>