{% extends 'base.html' %}



{% block css %}			
		<title>Cadastro</title>
		
		{% load static %}
        <link href="{% static 'login.css' %}"  rel="stylesheet">
{% endblock css %}		
		
{% block content %}
	<div class="login">
		<h1>Registrar</h1>

		<form method="post">
			<p>Email:<br>{% csrf_token %}{{registration_form.email}}</p>
			<p>Usuário:<br>{% csrf_token %}{{registration_form.username}}</p>
			<p>Telefone:<br>{% csrf_token %}{{registration_form.telefone}}</p>
			<p>Senha:<br>{% csrf_token %}{{registration_form.password1}}</p>
			<p>Confirmação de senha:<br>{% csrf_token %}{{registration_form.password2}}</p>
			
			{% for field in registration_form %}
				{% for error in field.errors %}
					<p style="color: red;">{{error}}</p>
				{% endfor %}
			{% endfor %}
			<br>
			<button type="submit">Registrar</button>
			
		</form>
	</div>

{% endblock content %}