{% extends 'base.html' %}



{% block css %}			
		<title>Cadastro</title>
		
		{% load static %}
        <link href="{% static 'login.css' %}"  rel="stylesheet">
{% endblock css %}		
		
{% block content %}
		<div class="insert_data">
			<h1>Cadastro de animal desaparecido</h1>

			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<p>Foto:<br>{{form.foto}}</p>
				<p>Nome do animal:<br>{{form.nome}}</p>
				<p>Idade:<br>{{form.idade}}</p>
				<p>Cidade de desaparecimento:<br>{{form.cidade_desaparecimento}}</p>
				<p>Estado de desaparecimento:<br>{{form.estado_desaparecimento}}</p>
				<p>Informações adicionais:<br>{{form.informacoes_extras}}</p>

				{% for field in registration_form %}
					{% for error in field.errors %}
						<p style="color: red;">{{error}}</p>
					{% endfor %}
				{% endfor %}
				<br>
				<button type="submit">Cadastrar animal</button>
			</form>
		</div>
{% endblock content %}