{% extends 'base.html' %}



{% block css %}			
		<title>Login</title>
		
		{% load static %}
        <link href="{% static 'login.css' %}"  rel="stylesheet">
{% endblock css %}		
		
{% block content %}
	<div class="insert_data">
		  <h1>Login</h1>
		  
		  <form method="post">
				{% csrf_token %}
				<p>Email<br>{{ form.email }}</p>
				<p>Senha<br>{{ form.password }} </p>
				
				
				{% for field in form %}
					{% for error in field.errors %}
						<p style="color: red;">{{error}}</p>
					{% endfor %}
				{% endfor %}
				<br>
				<button type="submit" class="submit">Login</button>
		  </form>
	</div>
        
{% endblock content %}