<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
		
		
        
    </head>
    <body>
        <h1>PAGINA PRINCIPAL</h1>
        
		<ul class="menu_principal">
			<li><a class="cadastrar_animal" href='cadastrar_animal'>Cadastrar animal perdido</a></li>
			<li><a class="login" href='login'>Login</a></li>
			<li><a class="cadastrar_dono" href='cadastrar_dono'>Registrar</a></li>
		</ul>
		
		{% for animal in animais_cadastrados %}
			<p>{{animal.nome}}</p>
        {% endfor %}
        
        
       
      
    </body>
</html>