{% extends 'base.html' %}



{% block css %}			
		<title>Cadastro</title>
		
		{% load static %}
        <link href="{% static 'login.css' %}"  rel="stylesheet">
{% endblock css %}		
		
{% block content %}
	<div class="login">
		  <h1>Login</h1>
		  <form method="post" action="">
				<p>Email<br>{% csrf_token %}{{ form.email }}</p>
				<p>Senha<br>{% csrf_token %}{{ form.password }} </p>
				
				<br>
				<button type="submit" class="submit">Login</button>
		  </form>
	</div>
        
{% endblock content %}