{% extends 'base.html' %}


{% block css %}
		{% load static %}
        <link href="{% static 'cadastrar_animal.css' %}"  rel="stylesheet">
{% endblock css %}		
		
{% block content %}
        <a href="{% url 'cadastrar_animal' %}">Cadastrar Animal</a>
        
		{% for animal in animais %}
		
			<p>{{animal.nome}}</p>
			<a class="btn btn-warning" href="{%  url 'animal_edit' animal.id %}">Edit</a>
            <a class="btn btn-danger" href="{%  url 'animal_delete' animal.id %}">Delete</a>
		
		{% endfor %}

{% endblock content %}