{% extends 'base.html' %}


{% block css %}

{% endblock css %}		
		
{% block content %}
        <a href="{% url 'cadastrar_animal' %}">Cadastrar Animal</a>
        <table border="1" width="100%">
		<thead>
			<tr>
			  <th>Nome</th>
			  <!--<th>Foto</th>-->
			  <th>Status</th>
			  <th>Lista de contatos</th>
			  <th>Editar cadastro</th>
			  <th>Deletar cadastro</th>
			  
			</tr>
		</thead>
		<tbody>

		{% for animal, contatos in animais %}
		<tr>
			<td>{{animal.nome}}</td>
			<!--<td>
			{% load static %}
			<img src="{{ animal.foto.url }}" width=50%>
			</td>-->
			<td>
			{{animal.get_status_display}}
			</td>			
			<td>
			{% for contato in contatos %}
				{{contato.nome}}
				{{contato.telefone}}
				<br>
			{% endfor %}
			</td>

			<td><a class="btn btn-warning" href="{%  url 'animal_edit' animal.id %}">Edit</a>
            </td>
			<td><a class="btn btn-danger" href="{%  url 'animal_delete' animal.id %}">Delete</a>
			</td>
		</tr>
		{% endfor %}
		

		</tbody>
		</table>

{% endblock content %}