body{
    background-color: #565;    
}

h1{
    color: red;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}

html{
    margin: 10px 50px 10px 50px;
    word-spacing: 5px;
    font-family: cursive;
    font-size: 20px;
}

