body{
    background-color: #ffc;    
}


h1{
    color: red;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}


li {
  display: inline;
}

a {
  display: block;
}

.menu_principal{
	background-color: red;
	background-image: linear-gradient(to right, #ffffff, #28b3bf); 
	overflow:auto;
	display:block;
}

.cadastrar_animal{
	float: left;
	width: 60%;
}

.login{
	float: right;
}
.cadastrar_dono{
	float: right;
	width: 20%;
} 

.umAnimalPerdido{
	overflow: auto;
	border-style: solid;
	border-color: black;
	height: 250px;
}

.imagem{
	display:inline-block;
	max-width: 50%;
	float: left;
}

.textos{
	display:inline-block;
	width: 50%;
	float:rigth;
	background-color: yellow;
}