h1{
    color: black;
    text-shadow: 3px 3px 5px blue;
    text-align: center;
}

html{
	margin: 0px;
	background-color: #b5fffe;
	
}

thead {
	color:green;
}

table, th, td {
	border: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li p {
	padding: 0px 14px 0px 16px;
	color: white;
	}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #63adfb;
}


.umAnimalPerdido{
	display: block;
	overflow: auto;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	height: 250px;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	
}



.imagem{
	display:inline-block;
	width: 50%;
	float: left;
	max-height:100%;

}

.textos{
	display:inline-block;
	width: 50%;
	float:rigth;
}

.encontrei {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

.encontrei:hover{
	border-color: #333;
	
}



